.cart{
    border-bottom: 1px solid #eaeaea;
    color: #3d4445;
    display: block;
    height: 40px;
    padding: 0 15px;
    margin-top: 130px;
    
    @media screen and (max-width: $sm){
        border: none;
        margin-top: 16px;
        padding: 0;
        text-align: center;
    }
    
    &:active,
    &:link,
    &:hover{
        color: #3d4445;
        text-decoration: none;
    }
    
    &:hover{
        color: #3d4445;
        text-decoration: none;
    }
    
    .cart-icon{
        position: relative;
        text-align: center;
        
        @media screen and (max-width: $sm){
            display: inline-block;
            float: none !important;
        }
        
        > span{
            border-radius: 15px;
            border: 1px solid #fff;
            font-size: 11px;
            font-style: normal;
            height: 15px;
            line-height: 16px;
            position: absolute;
            right: -7px;
            top: -3px;
            width: 15px;
        }
    }

    .cart-total{
        padding: 0;
        text-align: right;
        @include typo(1.5rem, 400, $font, 3.7rem);
    }
    .lista_presentes li table td select{
        width: 70px !important;
    }
}
