.nav-full{
    position: relative;
    z-index: 20;
}

.horizontal-nav{
    position: relative;
    z-index: 20;
    
    .level1{
        height: 50px;
        position: relative;
    }
    
    .level2{
        display: none;
        left: 0;
        min-width: 100%;
        padding: 0 15px;
        position: absolute;
    }
    
    .level3{
        display: none;
        left: 100%;
        position: absolute;
        top: 0;
    }
    
    .level4{
        display: none;
        left: 100%;
        position: absolute;
        top: 0;
    }
    
    .item-level1{
        height: 100%;
        position: relative;
        
        &:hover{
            
            .level2{
                display: block;
            }
            
            .link-level1{
                background: rgba(255,255,255,0.3);
            }
        }
        
        &.sub-left{
            
            .level2{
                left: auto;
                right: 0;
            }
            
            .level3{
                left: auto;
                right: 100%;
            }
            
            .level4{
                left: auto;
                position: absolute;
                top: 0;
                right: 100%;
            }
        }
    }
    
    .item-level2{
        position: relative;
        
        &:hover{
            
            .level3{
                display: block;
            }
            
            .link-level2{
                background: rgba(255,255,255,0.3);
                text-decoration: none;
            }
        }
    }
    
    .item-level3{
        position: relative;
        
        &:hover{
            
            .level4{
                display: block;
            }
            
            .link-level3{
                background: rgba(255,255,255,0.3);
                text-decoration: none;
            }
        }
    }
    
    .link-level1{
        color: #eaeaea;
        display: block;
        font-size: 0;
        height: 100%;
        overflow: hidden;
        position: relative;
        text-align: center;
        
        &:hover{
            text-decoration: none;
        }
        
        span{
            display: inline-block;
            max-width: 99%;
            vertical-align: middle;
            @include typo(1.5rem, 400, $font, 2rem);
        }
        
        &:before{
            content: '';
            display: inline-block;
            height: 50px;
            vertical-align: middle;
            width: 1%;
        }
    }
    
    .link-level2{
        color: #666;
        display: block;
        padding: 10px 30px;
        white-space: nowrap;
        @include typo(1.5rem, 400, $font, 1.8rem);
        
        &:hover{
            background: #f1f1f1;
            text-decoration: none;
        }
    }
    
    .link-level3,
    .link-level4{
        color: #666;
        display: block;
        padding: 10px 30px;
        white-space: nowrap;
        @include typo(1.5rem, 400, $font, 1.8rem);
        
        &:hover{
            background: #f1f1f1;
            text-decoration: none;
        }
    }
}