/**
 * Newsletter
 */
.news-full {
    height: 400px;
    margin-top: 30px;
    position: relative;

    .container{
        display: table;
    }
}

.newsletter{
    display: table-cell;
    height: 400px;
    text-align: center;
    position: relative;
    vertical-align: middle;
    z-index: 10;
    
    @media screen and (max-width: $sm){
        padding: 24px 15px;
    }
    
    h2{
        color: #ff5556;
        text-transform: uppercase;
        padding-bottom: 0;
        @include typo(4.3rem, 700, $font, 5rem);
    }
    
    h3{
        color: #fff;
        margin-top: 20px;
        padding-bottom: 0;
        text-transform: uppercase;
        @include typo(1.8rem, 400, $font, 3rem);
    }
    
    form{
        margin: 0 auto;
        width: 45%;
        
        @media screen and (max-width: $sm){
            margin: 0 auto;
            width: 80%;
        }
        
        input{
            background: none;
            border: 2px solid;
            color: #fff;
            margin: 20px 0;
            padding: 10px 30px;
            width: 100%;
            @include typo(2.4rem, 400, $font, 1);
            
        }
        
        @include placeholder{
            color: #fff;
        }
        
        button{
            background: #366bab;
            border: none;
            color: #fff;
            padding: 0 20px;
            text-align: center;
            @include typo(3rem, 400, $font, 5.4rem);
        }
    }
}

// Noticias
.page-content {
    
    .noticias {
        li{
            float: none;
            padding: 0;
            margin: 10px 0;
            border: 1px dotted #ccc;
            height: 95px;
            
            #noticia_imagem {
                float: left;
                width: 95px;
                height: 95px;
                text-align: center;
                margin: 0 5px;
                padding: 0;
            }
            
            #noticia_dados {
                overflow: hidden;
                padding: 15px;
            }
        }
    }
}