{#
# Smart Filter
# elements/snippets/smart_filter.html
#}

<form name="form-filter" method="get" class="smart-filter">
    <input type="hidden" name="loja" value="{{ store.id }}">
    {% set type = "" %}
    {% if search.word %}
      <input name="palavra_busca" type="hidden" value="{{ search.word }}">
    {% endif %}

    {% if category.id %}
        <input type="hidden" name="categoria" value="{{ category.id }}">
    {% endif %}

    <h2 class="open-filters ">
        <i class="visible-xs visible-sm pull-right">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 459 459"><path d="M178.5 382.5h102v-51h-102v51zM0 76.5v51h459v-51H0zM76.5 255h306v-51h-306v51z" fill="#a0a2a3"/></svg>
        </i>
        {{ Translation('filtrar') }}
    </h2>

    <div class="filters-list">
    {% if filters.applied %}
    <div class="applied-filters">
        <h3>{{ Translation('limpar_filtros') }}</h3>
        <ul>
            {% for applied in filters.applied %}
                {% for item in applied %}
                    <li>
                    <a href="{{ item.url }}">{{ item.title }}</a>
                    </li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% for myFilter in filters %}

        {% if myFilter.items %}
            <h3>{{ myFilter.title }}</h3>
            <ul>
            {% for item in myFilter.items %}
                <li>
                    {% if item.type == "link" %}
                        <a href="{{ item.url }}">{{ item.title }}</a>
                    {% endif %}

                    {% if item.type == "checkbox" %}
                        {% if item.url != '' %}
                            {% set checked = item.applied ? 'checked="checked"' %}
                            <input type="checkbox" name="{{ item.name }}" value="{{ item.value }}" {{ checked }} />
                            <a href="{{ item.url }}">
                                {{ item.title }}
                            </a>
                        {% else %}
                            <label>
                                {% set checked = item.applied ? 'checked="checked"' %}
                                <input type="checkbox" name="{{ item.name }}" value="{{ item.value }}" {{ checked }} />
                                {{ item.title }}
                            </label>
                        {% endif %}
                    {% endif %}
                </li>
            {% endfor %}
            </ul>

        {% elseif myFilter|length %}

           {% for var in myFilter %}

               <h3>{{ var.title }}</h3>
               <ul>
                   {% for item in var.items %}
                   {% set type = item.type %}
                   <li>
                       {% if item.type == "link" %}
                       <a href="{{ item.url }}">{{ item.title }}</a>
                       {% endif %}

                        {% if item.type == "checkbox" %}
                            {% if item.url != '' %}
                                {% set checked = item.applied ? 'checked="checked"' %}
                                <input type="checkbox" name="{{ item.name }}" value="{{ item.value }}" {{ checked }} />
                                <a href="{{ item.url }}">
                                    {{ item.title }}
                                </a>
                            {% else %}
                                <label>
                                    {% set checked = item.applied ? 'checked="checked"' %}
                                    <input type="checkbox" name="{{ item.name }}" value="{{ item.value }}" {{ checked }} />
                                    {{ item.title }}
                                </label>
                            {% endif %}
                        {% endif %}
                   </li>
                   {% endfor %}
               </ul>

           {% endfor %}

        {% endif %}

    {% endfor %}
    {% if type == "checkbox" %}
    <button type="submit" class="filter-button">{{ Translation('filtrar') }}</button>
    {% endif %}
    </div>
</form>